body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#mapbox {
  flex-grow: 1;
  height: 100%;
  min-width: 36px;
}

#editor {
  background: #fff;
  display: flex;
  width: 350px;
  height: 100%;
  border-left: 1px solid #ddd;
}

.App--minimal #editor {
  width: 310px;
}

.workspace {
  display: flex;
  height: calc(100vh - 20px);
  position: relative;
}

.App--minimal .workspace {
  height: 100vh;
}

.StatusBar {
  height: 20px;
  width: 100%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #292a2d;
  background: #f5f5f5;
  border-top: 1px solid #ddd;
}
.App--minimal .StatusBar {
  bottom: 0;
  position: absolute;
  background: transparent;
  border: none;
  opacity: 0.5;
}

.editor__error-line {
  background: rgba(200, 10, 10, 0.1);
  border-left: 1px solid red;
}

/* Popup */
.mapboxgl-popup-content {
  color: #000000;
  background: #fff;
  padding: 35px 20px;
  border: 1px solid transparent;
}
.mapboxgl-popup-close-button {
  color: #000000;
  font-size: 18px;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #fff !important;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #fff !important;
}
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #fff !important;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
  border-top-color: #fff !important;
}

.Button {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 7px 14px;
  background: transparent;
  color: #000;
  font-weight: bold;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  display: flex;
  align-items: center;
}
.Button:hover {
  background: rgba(0, 0, 0, 0.02);
}
.Button__icon {
  margin-right: 5px;
}

.AppControl {
  position: absolute;
  margin: 10px;
  right: 0;
  padding: 20px;
  background: #fff;
  color: #1f2024;
  padding: 15px 20px;
  border: 1px solid transparent;
}

.AppControl,
.MapPopup__content {
  display: flex;
  flex-direction: column;
}
AppControl > *:not(:last-child),
.MapPopup__content > *:not(:last-child) {
  margin-bottom: 0.6em;
}

.EditorToggle {
  position: absolute;
  z-index: 10;
  right: 0;
  width: 32px;
  height: 32px;
  display: none;
  align-items: center;
  justify-content: center;
  color: #333;
  background: #fff;
  border: 1px solid #ddd;
}

@media (max-width: 500px) {
  .EditorToggle {
    display: flex;
  }
}

@media (prefers-color-scheme: dark) {
  #editor {
    background: #1f2024;
  }
  .EditorToggle {
    color: #fff;
    background: #000;
    border: 2px solid #333;
  }
  body {
    background: #111;
  }
  .mapboxgl-popup-content {
    background: #1f2024;
    color: #dcdcdc;
    padding: 35px 20px;
    border: 1px solid #404040;
  }
  .mapboxgl-popup-close-button {
    color: #dcdcdc;
    font-size: 18px;
  }
  .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: #404040 !important;
  }
  .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: #404040 !important;
  }
  .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    border-bottom-color: #404040 !important;
  }
  .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
    border-top-color: #404040 !important;
  }

  .Button {
    border: 1px solid #404040;
    border-radius: 4px;
    padding: 7px 14px;
    background: transparent;
    color: #fff;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.05);
    cursor: pointer;
  }
  .Button:hover {
    background: rgba(255, 255, 255, 0.09);
  }
  .mapboxgl-ctrl-group {
    filter: invert(1);
  }
  #editor {
    border-left: 1px solid #404040;
  }
  .StatusBar {
    background: #292a2d;
    color: #eee;
    border-top: 1px solid #404040;
  }
  .mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    background: #292a2d;
    opacity: 0.5;
  }
  .mapboxgl-ctrl.mapboxgl-ctrl-attrib a {
    color: #888;
  }
  .AppControl {
    position: absolute;
    margin: 10px;
    right: 0;
    padding: 20px;
    background: #1f2024;
    color: #dcdcdc;
    padding: 35px 20px;
    border: 1px solid #404040;
  }
}
